/** This is a CSS document **/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

nav {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 1.25em;
}

.aboutus {
    text-align: center;
}
.hometext {
    font-size: 1.5em;
    text-align: center;
}

.menucategories {
    margin-left: 1.7em;
}
.person {
    font-size: 1.25em;
    font-weight: 200em;
    font-style: italic;
    letter-spacing: 0.05em;
    text-align: center;
}
header {
    margin-top: 1em;
    margin-bottom: 0em;
}

.text h2 {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;   
}

.text h3 {
    color: #67806A;
}

.text p {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}

.text ul li {
    list-style: none;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}

body {
    width: 90%;
    background-color: #F0EFEC;
}

img {
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #9CD9B6;
}

nav ul li {
    list-style: none;
    display:inline;
    margin-right: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
}
